In [6]:
import pandas as pd

In [5]:
data = pd.read_csv("/Users/srikarpoladi/Downloads/Blockhouse-Work-Trial/data/AAPL_Quotes_Data.csv")
data.head(10)

                   timestamp  bid_price_1  ...  ask_size_4  ask_size_5
0  2024-07-01 13:30:00+00:00       212.51  ...       200.0       300.0
1  2024-07-01 13:31:00+00:00       213.07  ...       205.0       205.0
2  2024-07-01 13:32:00+00:00       213.05  ...       100.0       100.0
3  2024-07-01 13:33:00+00:00       213.25  ...       151.0       100.0
4  2024-07-01 13:34:00+00:00       213.47  ...         1.0         1.0
5  2024-07-01 13:35:00+00:00       213.69  ...       101.0       100.0
6  2024-07-01 13:36:00+00:00       214.02  ...       510.0       510.0
7  2024-07-01 13:37:00+00:00       213.97  ...        13.0        45.0
8  2024-07-01 13:38:00+00:00       213.80  ...       110.0       100.0
9  2024-07-01 13:39:00+00:00       213.60  ...        20.0       120.0

[10 rows x 21 columns]

In [ ]:
time_remaining = 390
shares_remaining = 1000